<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: lightgreen;
        }
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
            align-content: center;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
        }
    </style>
</head>
<body>
    
    <div>
        <h1>Confira abaixo os veiculos</h1>
        <ul>
            <%carrosRender.forEach(carro => { %>
                <li>
                    <strong><%=carro%></strong>
                </li>
            <%})%>
            <br><br>

            <%if(horasDia >= 6 && horasDia <= 18){%>
                <h2>É dia</h2>
            <%}else{ %>
                <h2>É noite</h2>
            <%}%>
        </ul>
    </div>
    
    <a href="/">Home</a>
</body>
</html>