<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="Head">
        <h1>Login</h1>
    </div>
    <br> <br>
    <div id="Form">
        <form method="post" action="/Login" >
            <label>Usuario:</label>
            <input type="text" name="Usuario" id="Usuario" required>
            <label>Senha:</label>
            <input type="password" name="Senha" id="Senha" required>
        </form>
    </div>
</body>
</html>